In [1]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql import functions
from pyspark.sql.functions import avg,sum,col,array,array_contains,count
from pyspark.sql import types
import random

In [2]:
sc = SparkContext.getOrCreate()
spark = SparkSession.builder.appName('HW4').getOrCreate()

In [3]:
#Q1
review_rdd = sc.textFile('FileStore/tables/review.csv').map(lambda x: tuple(x.split('::')))
review_rdd = review_rdd.map(lambda x: (x[2],(float(x[3]),1))) \
                       .reduceByKey(lambda x,y: (x[0]+y[0],x[1]+y[1])) \
                       .map(lambda x: (x[0],x[1][0],x[1][1])) \
                       .map(lambda x: (x[0],x[1]/x[2],x[2]))

In [4]:
#review_id, user_id, business_id, stars
review_df = spark.createDataFrame(review_rdd.collect(),['business_id','AvgRating','NumOfReviews'])
print(review_df)

In [5]:
print("Q1:")
review_df.show(n=10)

In [6]:
#Q2
business_rdd = sc.textFile('FileStore/tables/business.csv').map(lambda x: tuple(x.split('::')))

import re
list_re = re.compile(r'List\((.*)\)')

def make_list(string):
  parsed = list_re.match(string).groups()[0]
  split = parsed.split(',')
  stripped = list(map(lambda x: x.strip(), split))
  
  return stripped

def parse_state(string):
  address_split = string.split(',')
  state_split = address_split[-1].strip().split(' ')
  
  return state_split[0]

print(make_list('List(this, is, a)'))

business_df = spark.createDataFrame(business_rdd.collect(),['business_id','State','Categories'])

parse_state = functions.udf(parse_state)
make_list = functions.udf(make_list)

business_df = business_df.select('business_id', parse_state('State').alias('State'), make_list('Categories').alias('Categories'))

business_df = business_df.join(review_df,'business_id')

business_df_temp = business_df.select(['State','AvgRating','NumOfReviews'])

business_df_temp = business_df_temp.groupBy('State') \
                          .agg(sum('NumOfReviews').alias('NumOfReviews'), avg('AvgRating').alias('AvgRating')) \
                          .sort(col('AvgRating').desc())

print("Q2:")
business_df_temp.show(n=100)

In [7]:
#Q3
review_rdd = sc.textFile('FileStore/tables/review.csv').map(lambda x: tuple(x.split('::')))
review_df = spark.createDataFrame(review_rdd.collect(),['review_id','user_id','business_id','stars'])
review_df = review_df.select('review_id','user_id','business_id',review_df['stars'].cast('float').alias('stars'))

user_rdd = sc.textFile('FileStore/tables/user.csv').map(lambda x: tuple(x.split('::')))
user_df = spark.createDataFrame(user_rdd.collect(),['user_id','name','url'])

Q3_df = review_df.join(user_df,'user_id')

Q3_df = Q3_df.join(business_df,'business_id')

Q3_df.groupBy('user_id') \
     .agg(avg('stars'))

In [8]:


def in_list(x):
  if "Colleges & Universities" in x:
    return True
  return False

in_list = functions.udf(in_list)

Q3_df_temp = Q3_df.select('user_id','name','AvgRating','Categories')
Q3_df_temp = Q3_df_temp.filter(in_list('Categories')==True)
Q3_df_temp = Q3_df_temp.select('user_id','name','AvgRating')

In [9]:
print('Q3:')
Q3_df_temp.show(n=10)

In [10]:
#Q4
business_rdd = sc.textFile('FileStore/tables/business.csv').map(lambda x: tuple(x.split('::')))
review_rdd = sc.textFile('FileStore/tables/review.csv').map(lambda x: tuple(x.split('::')))
review_rdd = review_rdd.map(lambda x: (x[2],(float(x[3]),1))) \
                       .reduceByKey(lambda x,y: (x[0]+y[0],x[1]+y[1])) \
                       .map(lambda x: (x[0],x[1][0],x[1][1])) \
                       .map(lambda x: (x[0],x[1]/x[2],x[2]))
review_df = spark.createDataFrame(review_rdd.collect(),['business_id','AvgRating','NumOfReviews'])

review_df = review_df.select('business_id','AvgRating','NumOfReviews')

import re
list_re = re.compile(r'List\((.*)\)')

def make_list(string):
  parsed = list_re.match(string).groups()[0]
  split = parsed.split(',')
  stripped = list(map(lambda x: x.strip(), split))
  
  return stripped

def parse_state(string):
  address_split = string.split(',')
  state_split = address_split[-1].strip().split(' ')
  
  return state_split[0]

print(make_list('List(this, is, a)'))

business_df = spark.createDataFrame(business_rdd.collect(),['business_id','Address','Categories'])

parse_state = functions.udf(parse_state)
make_list = functions.udf(make_list)

business_df = business_df.select('business_id', 'Address', parse_state('Address').alias('State'), make_list('Categories').alias('Categories'))

business_df = business_df.join(review_df,'business_id')
business_df_temp = business_df.where('\'State\'==\'NY\'')

business_df_temp = business_df.select(['State','NumOfReviews','business_id','Address','Categories','AvgRating'])

def return_string(x):
  pass

avg_rating_df = business_df_temp.groupBy('Address') \
                          .agg(sum('NumOfReviews').alias('NumOfReviews'), avg('AvgRating').alias('AvgRating')) \
                          .sort(col('AvgRating').desc())

business_df_temp = business_df_temp.select(['business_id','Address','Categories']).join(avg_rating_df,'Address')

In [11]:
business_df_temp = business_df_temp.select(['business_id','Address','Categories','AvgRating']).sort(col('AvgRating').desc())
business_df_temp.show(n=10)

In [12]:
#Q5

#group on user id agg count on states
Q5_df = Q3_df.groupBy('user_id')\
     .agg(avg('AvgRating').alias('AvgRating'),count('State').alias('StateCount'))


Q5_df = Q5_df.where(Q5_df['StateCount']>1)
          

#join  with og df
Q5_df = Q5_df.join(user_df,'user_id').select('user_id','name','AvgRating')
Q5_df.show(n=10)